form {
    border: 1px solid #545454;
    border-radius: 5px;
    padding: 40px;
    background-color: 000066;
  }
  
  #userInput {
    padding: 5px 20px;
    width: 94%;
    line-height: 16px;
    margin:10px 0;
  }
  
  #submit {
    font-family: 'Roboto', serif;
    color: 	#0066CC;
    width: 30%;
    float:right;
  }