header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color:	#333
  }
  
  .header {
    font-family: 'Roboto', serif;
    color: 	white;
    font-size: x-large;
    margin: 1em;
  }
  
  #image {
    width: 300px;
    height: auto;
    float: right;
    border-radius: 2px;
  }
